.git
.DS_Store
.env
.env.*
!.env.example

**/node_modules
**/.pnpm-store
**/dist
protobuf/buf-*
webui/build
webui/.svelte-kit
webui/package

config.yaml
!config.yaml.example

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
